.service{
    background-color: rgb(226, 241, 241);
    border-radius:10px;
    padding-bottom: 10px;
}
.service h3 {
    overflow: hidden;
}
.service h5{
    overflow: hidden;
}
.service img{
    width: 350px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .service img{
        width: 300px;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
    }
    .service{
        width: auto;
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .service{
        width: auto;
        align-items: center;
    }
}