#carousel-h3{
    overflow: hidden;
}
.service-container h1{
    margin-top: 10px;
    overflow: hidden;
}
.service{
    width: 380px;
    height: 350px;
    box-shadow: 4px 4px 4px 4px gray;
    border-radius: 5px;
    margin: 20px;
}
#service-img{
    width: 350px;
    height: 250px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

/* doctor section */
.doctor-container h2{
    overflow: hidden;
}
#doctor{
    width: 500px;
    height: 400px;
}
.doctor-text{
    width: 500px;
    height: 350px;
    background-color: orangered;
    color: whitesmoke;
    margin-top: 20px;
}
.doctor-text h3{
    overflow: hidden;
}
.doctor-text h4{
    overflow: hidden;
}
.doctor-text p{
    font-size: large;
    font-weight: 500;
}